<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oreoluwa Sola-Ojo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="section">
        <div class="seperator display-mobile" style="margin-bottom: 15px;"></div>
        <div class="frame">
            <p class="frame-title">Let's Get in touch</p>

            <table style="width: 100%;">
                <tr>
                    <td valign="top" align="center"><img src="{% static 'profile.png' %}" alt=""></td>
                    <td>
                        <div class="text-with-vertical-line" style="margin-left: 20px;">
                            <p>
                                You want to discuss about your project
                                and get feedback from an expert ?
                                <br><br>
                                <a href="mailto:oreoluwag7@gmail.com?subject=Contact%20from%20oreoluwasolaojo.com">Contact
                                    me by email</a> <br> or directly call me on:
                                <a href="+2349032809180">+2349032809180</a>
                            </p>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>


</body>

</html>