<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- HEADER -->
    <div class="portfolio-header">
        <div class="text-with-vertical-line" style="margin-left: 16px; margin-top: 20px; height: 40px;">
            <p class="portfolio-header-title">
                Oreoluwa Sola-Ojo
            </p>
        </div>
        <a class="contact-button contact-button-portfolio" style="position:absolute; right:20px; top:20px;"
            href="mailto:oreoluwasolaojo@gmail.com?subject=Contact%20from%20oreoluwasolaojo.com">CONTACT ME</a>
    </div>
    <!-- Gray Section Title -->
    <div class="section gray-section-1" style="padding-top: 20px;">
        <a class="portfolio-back" href="{% url 'index' %}">Back</a>
        <div class="seperator" style="margin-top: -10px; margin-bottom: 10px;">

        </div>

        <p style="margin-top: 0px; margin-bottom: 0px;">
        <h1 class="portfolio" style="margin-bottom: 10px; font-weight: lighter; "> Portfolio</h1>

        <h2 class="portfolio" style="font-weight: bolder;">Website for an <br> Italian Restaurant</h2>

        </p>
    </div>



    <!-- CONTENT SECTION -->
    <div class="section">

        <div class="text-with-vertical-line" style="margin-left: 20px;">
            <p>
                I created this project for my client, who is an owner of an Italian restaurant.
                <br><br>
                The objective: Gain more viability for this restaurant and display the pizza menu to the users
                <br><br>
                My client is not very at ease with technologies, but I designed a specific administration interface for
                him,
                so he has
                possibility to update his restaurant menu easily.
                <br><br>
                This project is simple but efficient, and gave entire satisfaction to my client
                <br><br>
                <u>Technologies: </u> <b>HTML, CSS, DJANGO, PYTHON, HEROKU </b>
                <br><br>
            </p>

        </div>
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <a href="https://therealpizzamamadjango.herokuapp.com/">
            <button type="button" class="btn btn-primary btn-lg" style="background-color: #4b42a6; border: none;">Go to
                the website</button>
        </a>
        <br>

        <br> <a href="https://github.com/OreoluwaSolaOjo/pizzamamadjango">
            <button type="button" class="btn btn-primary btn-lg" style="background-color: #9DA642; border: none;">Check
                out the Github repo</button>
        </a>
        <br><br><br>
        <footer class="page-footer font-small  darken-3">
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center #9DA642 py-3">© 2021 Copyright:
                <a href="https://oreoluwasolaojo.com/"> oreoluwasolaojo.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <br>

    </div>
    <!-- FRAME SECTION -->

</body>

</html>